@using Microsoft.AspNetCore.Identity;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Student_System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Student_System.styles.css" asp-append-version="true" />
    <link href="~/lib/jquery-ui-1.13.2.custom/jquery-ui.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Student_System</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    @if (User.IsInRole("Admin") || User.IsInRole("Student"))
                    {
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">Cursos</button>
                            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="visually-hidden">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Courses" asp-action="Index">Courses</a></li>
                                
                                @if (User.IsInRole("Admin"))
                                {
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Courses" asp-action="ResourceMore">ResourceMore</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Courses" asp-action="AllCoursesonGivenDate">AllCoursesonGivenDate</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Courses" asp-action="ResourceMore">ResourceMore</a></li>
                                }

                            </ul>

                            <div class="btn-group">
                                <button type="button" class="btn btn-secondary">Recursos</button>
                                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Resources" asp-action="Index">Resources</a></li>
                                </ul>
                            </div>

                            <div class="btn-group">
                                <button type="button" class="btn btn-secondary">Tareas</button>
                                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Homework" asp-action="Index">Homework</a></li>
                                </ul>
                            </div>

                            @if (User.IsInRole("Admin"))
                            {
                            <div class="btn-group">
                                <button type="button" class="btn btn-secondary">Studiantes</button>
                                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="Index">Students</a></li>
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="StudentCourses" asp-action="Index">StudentCourse</a></li>
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="StudentNumberCourse">StudentNumberCourse</a></li>
                                </ul>
                            </div>

                            <div class="btn-group">
                                <button type="button" class="btn btn-secondary">Cuentas</button>
                                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu">

                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="CreateRol">CreateRol</a></li>
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="GetRoles">GetRoles</a></li>
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="CreateAcount">CreateAcount</a></li>
                                </ul>
                            </div>
                                
                            }
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-2">
                <partial name="_LoginPartial.cshtml" />
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Student_System - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-ui-1.13.2.custom/jquery-ui.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
