@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewBag.Title = "Roles List";
}

<h1>Roles list</h1>

@if (Model.Any())
{
    <a class="btn btn-primary mb-3" style="width:auto" asp-action="CreateRol"
    asp-controller="Admin">Create new Rol</a>

    foreach (var role in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Role Id : @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            Todavia no hay roles creados
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Usa este boton para crear un rol
            </h5>
            <a class="btn btn-primary" style="width:auto"
           asp-controller="Admin" asp-action="CreateRol">
                Crear Rol
            </a>
        </div>
    </div>

}

